<div id="docker-learn-root"></div>

<%= javascript_pack_tag 'docker_learn', defer: true %>

<style>
  /* Reset body/html for full-screen layout */
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  #docker-learn-root {
    height: 100vh;
    width: 100vw;
  }
</style>
