<script src="/packs/js/runtime.js"></script>
<script src="/packs/js/vendors-node_modules_react-dom_index_js.js"></script>
<script src="/packs/js/vendors-node_modules_dnd-kit_sortable_dist_sortable_esm_js-node_modules_react-dom_client_js-n-19e2bd.js"></script>
<script src="/packs/js/chemistry_course.js"></script>

<div id="chemistry-course-root" data-course-slug="<%= @course.slug %>"></div>
